.zoom-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.zoom-01 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(129, 0, 0);
  text-align: center;
  color: white;
  font-size: 100px;
  padding: 45vh 0;
  z-index: 20;
}
.zoom-02 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(6, 0, 129);
  text-align: center;
  color: white;
  font-size: 100px;
  padding: 45vh 0;
  z-index: 16;
}
.zoom-03 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 129, 14);
  text-align: center;
  color: white;
  font-size: 100px;
  padding: 45vh 0;
  z-index: 12;
}
.zoom-04 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(129, 120, 0);
  text-align: center;
  color: white;
  font-size: 100px;
  padding: 45vh 0;
  z-index: 8;
}
.zoom-05 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(56, 0, 129);
  text-align: center;
  color: white;
  font-size: 100px;
  padding: 45vh 0;
  z-index: 5;
}

.zoom-06 {
  width: 100%;
  height: 300vh;
  background: linear-gradient(180deg, #ef00b3 0%, #560000 100%);
  text-align: center;
  color: white;
  font-size: 100px;
  padding: 45vh 0;
  z-index: 4;
}
.scroll-h {
  width: 150%;
  bottom: 625px;
  position: absolute;
  left: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  border: lime 5px solid;
  z-index: 0;
  display: flex;
  flex: inline;
  gap: 100px;
  overflow: hidden;
}
img {
  height: 50vh;
  width: 200px;
}
